{% extends 'visits/base.html' %}
{% from '/pagination.html' import pagination %}
{% block tabs %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Пользователь</th>
        <th scope="col">Страница</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody>
      {% for val in values %}
      <tr>
        <td>{{ val.id }}</td>
        <td>{{ val.fio }}</td>
        <td>{{ val.path }}</td>
        <td>{{ val.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{pagination(count, page)}}
  <div class="col text-center my-3">
    <a class="btn btn-secondary" href="{{url_for('visit.send_csv_journal')}}?journal=show">Экспорт в CSV</a>
  </div>
{% endblock %}